<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'knitts'}}Home{{/link-to}}</li>
      <li>{{#link-to 'notifications'}}Needling{{/link-to}}</li>
      <li>{{#link-to 'messages'}}Stitch{{/link-to}}</li>
      <li>{{#link-to 'discover'}}Round{{/link-to}}</li>
    </ul>
  </nav>
</div>

<div class='container'>
    {{outlet}}
</div>
